<h1 class="text-center my-3">Lista de Produtos do Carrinho</h1>
<center>
  <table class="table">
    <div class="row">
      <div class="col-12">
        <thead>
        </thead>
        <tbody>
          <tr>
            {{#each carrinho}}
            <br>
            Código Produto:<strong> {{this.id}}</strong> - <strong>{{this.nome}}</strong>
            <a href="/carrinho/remover/{{this.id}}"><img src="https://cdn-icons-png.flaticon.com/512/6495/6495336.png"alt="remover do carrinho" width=50 height=50 alt="mostrar imagem" title="Clique aqui para remover do carrinho" /></a>
            </th>
            {{/each}}
          </tr>
        </tbody>
      </div>
    </div>
  </table>
</center>